<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AboutUsPage</title>
    <link rel="stylesheet" href="../static/stylesheets/ind.css">
</head>
<body>
<div id=about class="site-section">
    <h1 class="h1home">Introducing Team02</h1>
    <h2 class="h2home">Team-Lead</h2>

    <div class="row">
        <div class="text-center">
            <center>
                <a href="patricia">
                    <button class="button">Patricia Sarno</button>
                </a>
            </center>
        </div>
    </div>

    <div class="row">
        <div class="text-center">
            <h2 class="h2home">GitHub-Master</h2>
            <center>
                <a href="erik">
                    <button class="button">Erik Chacon</button>
                </a>
            </center>
        </div>
    </div>
    <div class="row">
        <div class="text-center">
            <h2 class="h2home">Front-End</h2>
            <center>
                <a href="danny">
                    <button class="button">Danny Collan</button>
                </a>
                <a href="saloni">
                    <button class="button">Saloni Mahat</button>
                </a>
            </center>

        </div>
        <div class="text-center">
            <h2 class="h2home">Back-End</h2>
            <center>
                <a href="affaan">
                    <button class="button">Affaan Ghazzali</button>
                </a>
                <a href="edmund">
                    <button class="button">Edmund-Russell Manzano</button>
                </a>
            </center>

        </div>
    </div>
</div>

</body>
</html>
